<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xi - Home</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>ξ</h1>
        <ul>
            <li><a href="/game/list">all games</a></li>
            <li><a href="/game/new">new game</a></li>
        </ul>
    </div>
</div>
</body>
</html>