body {
    padding-top: 20px;
}

#logo {
    width: 140px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

#board {
    padding-bottom: 20px;
}

#movesTable {
    margin-left: 20px;
}

#movesTable td {
    font-family: sans-serif;
    font-size: 12px;
}

.menu {
    text-align: center;
}

.red-move {
    color: red;
}

.number-move {
    color: #727272;
}

.captured {
    height: 15px;
    float: right;
    padding-left: 5px;
}

body .table.moves {
    width: 0;
}

body .table.moves td {
    border-top: none;
}

form {
    margin-top: 70px;
    margin-bottom: 20px;
}

img.family-guy {
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert {
    position: absolute;
    z-index: 1;
}

.warning {
    color: darkorange;
}
