<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xi - register success</title>
</head>
<body>

<h1>register success</h1>
<p>Registration was successful, please check your email.</p>
</body>
</html>