<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xi - reset pending</title>
</head>
<body>

<h1>reset pending</h1>
<p>Reset pending, please check your email.</p>
</body>
</html>