<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xi - game list</title>
</head>
<body>

<h1>games</h1>

{{#each games}}
    <a href="/game/id/{{this.id}}">{{this.redPlayer.name}} vs {{this.blackPlayer.name}}</a><br>
{{/each}}

</body>
</html>